
*{
	padding:  0px;
	margin: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}



/*jumbotron styling*/
.jumbotroncss {
    background-image: url("../images/vegies3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    margin-top: 7vh;
    padding-top: 13em;
	text-align: center;
	padding-top: 8em;
    


}

.jumbotroncss > h1 {
		font-size: 5.5em;
		/*color: white;*/
		font-weight: bold;
		line-height: 1.4em;
		color: #00ff00;
		text-shadow: 0 0 20px #FF0000, 0 0 15px #0000FF;;
		/*text-shadow: 3px 3px 10px 10px #000;*/
}

.jumbotroncss > p {
		margin: auto;
		margin-bottom: 6em;
		font-weight: 900;
		font-size: 1.5em;
		line-height: 1.4em;
		/*color: white;*/
		color: #00ff00;
		text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	}
/*end of jumbotron styling*/


 /*navbar styling*/
.navbar-defualt  > a {
	color: white;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #009688; /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

/*end of navbar styling*/

/*footer styling*/
.footr {
	background-color: #0f006f;
    border-color: #030033;
}
/*end footer styling*/



.card-img-top {
    height: 130px;
    object-fit: cover;
} 

 
.h3Sample2 {
 	text-align: center;
 	font-size: 100px;
 	font-family: Arial;
 	/*margin-top: 9vh;*/
}
 
